<div class="login-content"> 
  <div class="nk-block" id="l-forget-password">
    <div class="nk-form">
        <p class="text-left">
            Veuillez entrer l'adresse mail de votre compte et l'admin vous envoyera le code de reinitialisation.
        </p>

        <div class="input-group">
            <div class="nk-int-st">
                <input type="text" class="form-control" placeholder="Adresse Email">
            </div>
        </div>

        <a href="#l-login" class="btn btn-login btn-success btn-float"><i class="pe-7s-paper-plane"></i></a>
    </div>

    <div class="nk-navigation nk-lg-ic rg-ic-stl">
        <a [routerLink]="['/eni/figerprint_pointing/login']" ><i class="fa fa-angle-left mt-2 ml-2" title="Login"></i></a>
        <a [routerLink]="['/eni/figerprint_pointing/register']" title="Registration"><i class="fa fa-plus ml-2 mt-2"></i></a>
    </div>
  </div>
</div>        

<notifier-container></notifier-container>