<div class="login-content">
  <div class="nk-block" id="l-register">
    <div class="nk-form">
        <div class="input-group">
            <div class="nk-int-st">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur">
            </div>
        </div>

        <div class="input-group mg-t-15">
            <div class="nk-int-st">
                <input type="email" class="form-control" placeholder="Adresse Email">
            </div>
        </div>

        <div class="input-group mg-t-15">
            <div class="nk-int-st">
                <input type="text" class="form-control" placeholder="Nom complet">
            </div>
        </div>

        <div class="input-group mg-t-15">
            <div class="nk-int-st">
                <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
        </div>

        <div class="input-group mg-t-15">
            <div class="nk-int-st">
                <input type="password" class="form-control" placeholder="Confirmation mot de passe">
            </div>
        </div>

        <a href="#l-login" class="btn btn-login btn-success btn-float"><i class="pe-7s-add-user"></i></a>
    </div>

    <div class="nk-navigation rg-ic-stl">
        <a [routerLink]="['/eni/figerprint_pointing/login']" ><i class="fa fa-angle-left mt-2 ml-2" title="Login"></i></a>
    </div>
  </div>
</div>