<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-navbar></app-navbar>
    <div class="app-main">
        <app-sidebar></app-sidebar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fa fa-database icon-gradient bg-mean-fruit">
                                </i>
                            </div>
                            <div>Liste des Etudiants
                                <div class="page-title-subheading">
                                    Etudiants deja enregistres dans la base de donnees
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    class="btn-shadow dropdown-toggle btn btn-info">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-business-time fa-w-20"></i>
                                    </span>
                                    {{selectedAnnee.anneeUnivDesc}}
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                    class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li *ngFor="let a of annees" class="nav-item">
                                            <span (click)="changeAnnee(a.anneeUnivId)" class="nav-link">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>
                                                    {{a.anneeUnivDesc}}
                                                </span>
                                                <div *ngIf="a.anneeEncours" class="ml-auto badge badge-pill badge-success">encours</div>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                            <div @fade class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">{{titre}}</h5>
                                    <div style="float: right; margin-top: -40px" class="mb-3">
                                        <div class="d-inline-block dropdown">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                class="btn-shadow dropdown-toggle btn btn-primary">
                                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                                    <i class="pe-7s-next fa-w-20"></i>
                                                </span>
                                                {{selectedNiveau.niveauCode}}
                                            </button>
                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <span (click)="onChangeDetectN('TOUT')" class="nav-link">
                                                            <i class="nav-link-icon lnr-inbox"></i>
                                                            <span>
                                                                TOUT
                                                            </span>
                                                            <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                        </span>
                                                    </li>
                                                    <li *ngFor="let n of niveaux" class="nav-item">
                                                        <span (click)="onChangeDetectN(n.niveauId)" class="nav-link">
                                                            <i class="nav-link-icon lnr-inbox"></i>
                                                            <span>
                                                                {{n.niveauCode}}
                                                            </span>
                                                            <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="d-inline-block ml-1 dropdown">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                class="btn-shadow dropdown-toggle btn btn-primary">
                                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                                    <i class="pe-7s-shuffle fa-w-20"></i>
                                                </span>
                                                {{selectedParcours.parcoursCode}}
                                            </button>
                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <span (click)="onChangeDetectP('TOUT')" class="nav-link">
                                                            <i class="nav-link-icon lnr-inbox"></i>
                                                            <span>
                                                                TOUT
                                                            </span>
                                                            <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                        </span>
                                                    </li>
                                                    <li *ngFor="let p of parcours" class="nav-item">
                                                        <span (click)="onChangeDetectP(p.parcoursId)" class="nav-link">
                                                            <i class="nav-link-icon lnr-inbox"></i>
                                                            <span>
                                                                {{p.parcoursCode}}
                                                            </span>
                                                            <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="mb-0 table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Matricule</th>
                                                <th>Nom et Prenoms</th>
                                                <th>Niveau</th>
                                                <th>Parcours</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let e of etudiants">
                                                <td>{{e.etudiantNum}}</td>
                                                <td>{{e.etudiantMatricule}}</td>
                                                <td>{{e.etudiantNomComplet}}</td>
                                                <td>{{e.niveauCode}}</td>
                                                <td>{{e.parcoursCode}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-6">
                                            
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <h5 class="card-title text-info mt-3">NOMBRE TOTAL: </h5>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <h5 class="card-title text-info mt-3">{{etudiants.length}} ELEVE(S)</h5>
                                        </div>
                                    </div>
                                    
                                    <div class="text-right">
                                        <button class="btn btn-danger"><i class="fa fa-file-excel"></i> Importer</button>
                                        <button class="btn btn-success ml-2"><i class="fa fa-file-excel"></i> Exporter</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>