<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-navbar></app-navbar>
    <div class="app-main">
        <app-sidebar></app-sidebar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fa fa-database icon-gradient bg-mean-fruit">
                                </i>
                            </div>
                            <div>Gestions des Enseignants
                                <div class="page-title-subheading">
                                    Representation graphique des analyses
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <button type="button" data-toggle="modal" data-target="#modal-add" class="btn btn-success"><i
                                    class="pe-7s-plus"></i> Ajouter</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title">ENSEIGNANT</h5>
                                <ul class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                                    <li *ngFor="let p of profs" class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-3">
                                                    <img width="42" class="rounded-circle" src="assets/images/avatar.png" alt="">
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">{{p.enseignantNomComplet}}</div>
                                                    <div class="subheading opacity-7">{{p.enseignantCode}}</div>
                                                </div>
                                                <div class="widget-content-center ml-4">
                                                    <span *ngFor="let m of p.matieres" class="badge badge-danger ml-1">{{m}}</span>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div role="group" class="btn-group-sm btn-group btn-group-toggle">
                                                        <label data-toggle="modal" data-target="#modal-edit"
                                                            (click)="editEnseignant(p.enseignantId)" class="btn btn-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </label>
                                                        <label data-toggle="modal" data-target="#modal-delete"
                                                            (click)="deleteEnseignant(p.enseignantId)" class="btn btn-danger">
                                                            <i class="fa fa-trash"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>

<!-- AJOUT -->
<div class="modal" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="AJOUT" aria-modal="true">
    <div class="modal-dialog modal-sm animated zoomInDown">
        <form [formGroup]="addForm" (ngSubmit)="onSubmitAddForm()" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">AJOUT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="nk-int-st">
                        <input type="text" class="form-control"  formControlName="enseignantCode"
                            placeholder="Code">
                    </div>
                </div>
                <div class="input-group">
                    <div class="nk-int-st">
                        <input type="text" class="form-control"  formControlName="enseignantNomComplet"
                            placeholder="Nom Complet">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeAdd" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Enregistrer</button>
            </div>
        </form>
    </div>
</div>

<!-- MODIFICATION -->
<div class="modal" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="MODIFICATION" aria-modal="true">
    <div class="modal-dialog modal-sm animated zoomInDown">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmitUpdateForm()" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">MIS A JOUR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="nk-int-st">
                        <input type="text" class="form-control" id="enseignantCode" formControlName="enseignantCode" placeholder="Code">
                    </div>
                </div>
                <div class="input-group">
                    <div class="nk-int-st">
                        <input type="text" class="form-control" id="enseignantNomComplet" formControlName="enseignantNomComplet"
                            placeholder="Nom Complet">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeEdit" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">Enregistrer</button>
            </div>
        </form>
    </div>
</div>

<!-- DELETE -->
<div class="modal" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="SUPPRESSION" aria-modal="true">
    <div class="modal-dialog modal-sm animated zoomInDown">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CONFIRMATION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h6><i class="fa fa-warning"></i> Voulez vous vraiment le supprimer?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeDelete" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                <button type="button" (click)="deleteEnseignantData()" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>