<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-navbar></app-navbar>
    <div class="app-main">
        <app-sidebar></app-sidebar>
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fa fa-database icon-gradient bg-mean-fruit">
                                </i>
                            </div>
                            <div>Tableau de bord d'analyse
                                <div class="page-title-subheading">
                                    Representation graphique des analyses
                                </div>
                            </div>
                        </div>
                        <div class="page-title-actions">
                            <div class="d-inline-block dropdown">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    class="btn-shadow dropdown-toggle btn btn-info">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-business-time fa-w-20"></i>
                                    </span>
                                    Recents
                                </button>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                    class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="nav-link">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>
                                                    Inbox
                                                </span>
                                                <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="nav-link">
                                                <i class="nav-link-icon lnr-book"></i>
                                                <span>
                                                    Book
                                                </span>
                                                <div class="ml-auto badge badge-pill badge-danger">5</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="nav-link">
                                                <i class="nav-link-icon lnr-picture"></i>
                                                <span>
                                                    Picture
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a disabled href="javascript:void(0);" class="nav-link disabled">
                                                <i class="nav-link-icon lnr-file-empty"></i>
                                                <span>
                                                    File Disabled
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                    ACTIVITES PEDAGOGIQUES
                                </div>
                                <ul class="nav">
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'jan' )"
                                        [class.active]="activeOptionButton=='jan'" ><i
                                        class="pe-7s-calendar"></i> JAN </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'feb' )"
                                        [class.active]="activeOptionButton=='feb'" ><i
                                        class="pe-7s-calendar"></i> FEV </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'mar' )"
                                        [class.active]="activeOptionButton=='mar'" ><i
                                        class="pe-7s-calendar"></i> MARS </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'apr' )"
                                        [class.active]="activeOptionButton=='apr'" ><i
                                        class="pe-7s-calendar"></i> AVR </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'may' )"
                                        [class.active]="activeOptionButton=='may'" ><i
                                        class="pe-7s-calendar"></i> MAI </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'jun' )"
                                        [class.active]="activeOptionButton=='jun'" ><i
                                        class="pe-7s-calendar"></i> JUIN </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'jul' )"
                                        [class.active]="activeOptionButton=='jul'" ><i
                                        class="pe-7s-calendar"></i> JUIL </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'aug' )"
                                        [class.active]="activeOptionButton=='aug'" ><i
                                        class="pe-7s-calendar"></i> AOUT </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'sep' )"
                                        [class.active]="activeOptionButton=='sep'" ><i
                                        class="pe-7s-calendar"></i> SEP </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'oct' )"
                                        [class.active]="activeOptionButton=='oct'" ><i
                                        class="pe-7s-calendar"></i> OCT </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'nov' )"
                                        [class.active]="activeOptionButton=='nov'" ><i
                                        class="pe-7s-calendar"></i> NOV </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'dec' )"
                                        [class.active]="activeOptionButton=='dec'" ><i
                                        class="pe-7s-calendar"></i> DEC </span>
                                    </li>
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'jan-jun' )"
                                        [class.active]="activeOptionButton=='jan-jun'" ><i
                                        class="pe-7s-calendar"></i> SEM </span>
                                    </li>
                                    
                                    <li class="nav-item  animated zoomInLeft">
                                        <span class="nav-link" (click)="updateOptions( 'all' )"
                                        [class.active]="activeOptionButton=='all'" ><i
                                        class="pe-7s-calendar"></i> {{annee}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-eg-77">
                                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                            <div *ngIf="chartDatetimeOptions" class="widget-chat-wrapper-outer">
                                                <div 
                                                *ngIf="
                                                chartDatetimeOptions.series && 
                                                chartDatetimeOptions.chart && 
                                                chartDatetimeOptions.xaxis && 
                                                chartDatetimeOptions.stroke && 
                                                chartDatetimeOptions.tooltip && 
                                                chartDatetimeOptions.dataLabels &&
                                                chartDatetimeOptions.yaxis &&
                                                chartDatetimeOptions.markers &&
                                                chartDatetimeOptions.annotations &&
                                                chartDatetimeOptions.grid"
                                                class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="chartDatetime">
                                                   
                                                      <apx-chart
                                                        #chartDatetime
                                                        [series]="chartDatetimeOptions.series"
                                                        [chart]="chartDatetimeOptions.chart"
                                                        [yaxis]="chartDatetimeOptions.yaxis"
                                                        [dataLabels]="chartDatetimeOptions.dataLabels"
                                                        [markers]="chartDatetimeOptions.markers"
                                                        [stroke]="chartDatetimeOptions.stroke"
                                                        [grid]="chartDatetimeOptions.grid"
                                                        [xaxis]="chartDatetimeOptions.xaxis"
                                                        [tooltip]="chartDatetimeOptions.tooltip"
                                                        [annotations]="chartDatetimeOptions.annotations"
                                                      ></apx-chart>
                                                      
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                            ETUDIANT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                    AGILITE DES ETUDIANTS
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-eg-77">
                                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                            <div *ngIf="chartOptions" class="widget-chat-wrapper-outer">
                                                <div *ngIf="
                                                chartOptions.series && 
                                                chartOptions.chart && 
                                                chartOptions.xaxis && 
                                                chartOptions.stroke && 
                                                chartOptions.tooltip && 
                                                chartOptions.dataLabels"
                                                    class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="chart">
                                                    
                                                    <apx-chart 
                                                    [series]="chartOptions.series" 
                                                    [chart]="chartOptions.chart" 
                                                    [xaxis]="chartOptions.xaxis"
                                                    [stroke]="chartOptions.stroke" 
                                                    [tooltip]="chartOptions.tooltip" 
                                                    [dataLabels]="chartOptions.dataLabels">
                                                    </apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                            ETUDIANT</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                    AGILITE DES ENSEIGNANTS
                                </div>
                                <ul class="nav">
                                    <li class="nav-item"><a href="javascript:void(0);" class="active nav-link">Last</a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);"
                                            class="nav-link second-tab-toggle">Current</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-eg-77">
                                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                            <div class="widget-chat-wrapper-outer">
                                                <div *ngIf="
                                                chartLineOptions.series && 
                                                chartLineOptions.chart && 
                                                chartLineOptions.xaxis && 
                                                chartLineOptions.stroke && 
                                                chartLineOptions.dataLabels &&
                                                chartLineOptions.legend &&
                                                chartLineOptions.markers &&
                                                chartLineOptions.grid &&
                                                chartLineOptions.yaxis &&
                                                chartLineOptions.title"
                                                    class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="chartLine">
                                                    <apx-chart
                                                        [series]="chartLineOptions.series"
                                                        [chart]="chartLineOptions.chart"
                                                        [xaxis]="chartLineOptions.xaxis"
                                                        [stroke]="chartLineOptions.stroke"
                                                        [dataLabels]="chartLineOptions.dataLabels"
                                                        [legend]="chartLineOptions.legend"
                                                        [markers]="chartLineOptions.markers"
                                                        [grid]="chartLineOptions.grid"
                                                        [yaxis]="chartLineOptions.yaxis"
                                                        [title]="chartLineOptions.title"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                            ENSEIGNANTS</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                    CLASSIFICATION PAR MATIERES
                                </div>
                                <ul class="nav">
                                    <li class="nav-item"><a href="javascript:void(0);" class="active nav-link">Last</a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);"
                                            class="nav-link second-tab-toggle">Current</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-eg-77">
                                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                            <div class="widget-chat-wrapper-outer">
                                                <div *ngIf="
                                                chartDashedOptions.series && 
                                                chartDashedOptions.chart && 
                                                chartDashedOptions.xaxis && 
                                                chartDashedOptions.stroke && 
                                                chartDashedOptions.tooltip &&
                                                chartDashedOptions.dataLabels &&
                                                chartDashedOptions.legend &&
                                                chartDashedOptions.markers &&
                                                chartDashedOptions.grid &&
                                                chartDashedOptions.title"
                                                    class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="chartDashed">
                                                    <apx-chart
                                                        [series]="chartDashedOptions.series"
                                                        [chart]="chartDashedOptions.chart"
                                                        [xaxis]="chartDashedOptions.xaxis"
                                                        [stroke]="chartDashedOptions.stroke"
                                                        [tooltip]="chartDashedOptions.tooltip"
                                                        [dataLabels]="chartDashedOptions.dataLabels"
                                                        [legend]="chartDashedOptions.legend"
                                                        [markers]="chartDashedOptions.markers"
                                                        [grid]="chartDashedOptions.grid"
                                                        [title]="chartDashedOptions.title"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                            MATIERES</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                    Sales Report
                                </div>
                                <ul class="nav">
                                    <li class="nav-item"><a href="javascript:void(0);" class="active nav-link">Last</a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);"
                                            class="nav-link second-tab-toggle">Current</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-eg-77">
                                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                            <div class="widget-chat-wrapper-outer">
                                                <div *ngIf="
                                                chartLCOptions.series && 
                                                chartLCOptions.chart && 
                                                chartLCOptions.yaxis &&
                                                chartLCOptions.xaxis && 
                                                chartLCOptions.labels &&
                                                chartLCOptions.stroke && 
                                                chartLCOptions.dataLabels &&
                                                chartLCOptions.title"
                                                    class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="chartLC">
                                                    <apx-chart
                                                        [series]="chartLCOptions.series"
                                                        [chart]="chartLCOptions.chart"
                                                        [yaxis]="chartLCOptions.yaxis"
                                                        [xaxis]="chartLCOptions.xaxis"
                                                        [labels]="chartLCOptions.labels"
                                                        [stroke]="chartLCOptions.stroke"
                                                        [title]="chartLCOptions.title"
                                                        [dataLabels]="chartLCOptions.dataLabels"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                            Top Authors</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LINE AREA COLUMN -->
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                    Sales Report
                                </div>
                                <ul class="nav">
                                    <li class="nav-item"><a href="javascript:void(0);" class="active nav-link">Last</a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);"
                                            class="nav-link second-tab-toggle">Current</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-eg-77">
                                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                            <div class="widget-chat-wrapper-outer">
                                                <div *ngIf="
                                                chartLACOptions.series && 
                                                chartLACOptions.chart && 
                                                chartLACOptions.yaxis &&
                                                chartLACOptions.xaxis && 
                                                chartLACOptions.labels &&
                                                chartLACOptions.stroke && 
                                                chartLACOptions.dataLabels &&
                                                chartLACOptions.title"
                                                    class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="chartLAC">
                                                    <apx-chart
                                                        [series]="chartLACOptions.series"
                                                        [chart]="chartLACOptions.chart"
                                                        [yaxis]="chartLACOptions.yaxis"
                                                        [xaxis]="chartLACOptions.xaxis"
                                                        [labels]="chartLACOptions.labels"
                                                        [stroke]="chartLACOptions.stroke"
                                                        [plotOptions]="chartLACOptions.plotOptions"
                                                        [markers]="chartLACOptions.markers"
                                                        [fill]="chartLACOptions.fill"
                                                        [tooltip]="chartLACOptions.tooltip"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                            Top Authors</h6>
                                        <div class="scroll-area-sm">
                                            <div class="scrollbar-container">
                                                <ul
                                                    class="rm-list-borders rm-list-borders-scroll list-group list-group-flush">
                                                    <li class="list-group-item">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <img width="42" class="rounded-circle"
                                                                        src="assets/images/avatar.png" alt="">
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">Ella-Rose Henry</div>
                                                                    <div class="widget-subheading">Web Developer</div>
                                                                </div>
                                                                <div class="widget-content-right">
                                                                    <div class="font-size-xlg text-muted">
                                                                        <small class="opacity-5 pr-1">$</small>
                                                                        <span>129</span>
                                                                        <small class="text-danger pl-2">
                                                                            <i class="fa fa-angle-down"></i>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <img width="42" class="rounded-circle"
                                                                        src="assets/images/avatar.png" alt="">
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">Ruben Tillman</div>
                                                                    <div class="widget-subheading">UI Designer</div>
                                                                </div>
                                                                <div class="widget-content-right">
                                                                    <div class="font-size-xlg text-muted">
                                                                        <small class="opacity-5 pr-1">$</small>
                                                                        <span>54</span>
                                                                        <small class="text-success pl-2">
                                                                            <i class="fa fa-angle-up"></i>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <img width="42" class="rounded-circle"
                                                                        src="assets/images/avatar.png" alt="">
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">Vinnie Wagstaff</div>
                                                                    <div class="widget-subheading">Java Programmer</div>
                                                                </div>
                                                                <div class="widget-content-right">
                                                                    <div class="font-size-xlg text-muted">
                                                                        <small class="opacity-5 pr-1">$</small>
                                                                        <span>429</span>
                                                                        <small class="text-warning pl-2">
                                                                            <i class="fa fa-dot-circle"></i>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <img width="42" class="rounded-circle"
                                                                        src="assets/images/avatar.png" alt="">
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">Ella-Rose Henry</div>
                                                                    <div class="widget-subheading">Web Developer</div>
                                                                </div>
                                                                <div class="widget-content-right">
                                                                    <div class="font-size-xlg text-muted">
                                                                        <small class="opacity-5 pr-1">$</small>
                                                                        <span>129</span>
                                                                        <small class="text-danger pl-2">
                                                                            <i class="fa fa-angle-down"></i>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <img width="42" class="rounded-circle"
                                                                        src="assets/images/avatar.png" alt="">
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">Ruben Tillman</div>
                                                                    <div class="widget-subheading">UI Designer</div>
                                                                </div>
                                                                <div class="widget-content-right">
                                                                    <div class="font-size-xlg text-muted">
                                                                        <small class="opacity-5 pr-1">$</small>
                                                                        <span>54</span>
                                                                        <small class="text-success pl-2">
                                                                            <i class="fa fa-angle-up"></i>
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- TIMELINE -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                <div class="card-header-title">
                                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                                    Sales Report
                                </div>
                                <ul class="nav">
                                    <li class="nav-item"><a href="javascript:void(0);" class="active nav-link">Last</a>
                                    </li>
                                    <li class="nav-item"><a href="javascript:void(0);"
                                            class="nav-link second-tab-toggle">Current</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tabs-eg-77">
                                        <div class="card mb-3 widget-chart widget-chart2 text-left w-100">
                                            <div class="widget-chat-wrapper-outer">
                                                <div *ngIf="
                                                chartTimelineOptions.series && 
                                                chartTimelineOptions.chart && 
                                                chartTimelineOptions.xaxis && 
                                                chartTimelineOptions.legend &&
                                                chartTimelineOptions.dataLabels &&
                                                chartTimelineOptions.plotOptions"
                                                    class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0" id="chartLC">
                                                    <apx-chart
                                                    [series]="chartTimelineOptions.series"
                                                    [chart]="chartTimelineOptions.chart"
                                                    [dataLabels]="chartTimelineOptions.dataLabels"
                                                    [plotOptions]="chartTimelineOptions.plotOptions"
                                                    [xaxis]="chartTimelineOptions.xaxis"
                                                    [legend]="chartTimelineOptions.legend"
                                                    ></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">
                                            Top Authors</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>